[user]
	email = 67753381+cp-changchien@users.noreply.github.com
	name = Cooper
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
